#nav {
   padding: 20px 0;
 }
 
 ul {
   list-style: none;
 }
 
 a {
   text-decoration: none;
 }
 
 .menu li a {
   display: block;
   padding: 10px 30px;
 }
 
 .menu li {
   background-color: #ddd;
 }
 
 .menu-item {
   margin-right: 2px;
   position: relative;
 }
 
 .menu {
   display: flex;
 }
 
 .submenu {
   position: absolute;
   display: none;
 }
 
 .submenu-item {
   margin-top: 1px;
 }
